.post-container {
    margin-top: 50px;
    text-align: center;
}

.post-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post-container form input {
    width: 415px; 
}

.post-container form select {
    width: 420px;
}

.post-container form label {
    margin-top: 20px;
    margin-bottom: 7px;
}

.post-container form input {
    margin-top: 7px;
}

.post-container form select {
    margin-top: 7px;
}

.submit-button {
    margin-top: 25px !important;
    padding: 7px 10px;
    width: fit-content !important;
}
